 /* Media query for devices with a max width of 768px */
 @media (max-width: 768px) {
     .nav-links {
         display: none;
         flex-direction: column;
         padding: 10px 0px ;
         gap: 20px;
         width: 96%;
         text-align: center;
         position: absolute;
         top: 15%;
         left: 0;
         background-color: var(--secondary-color);
         margin-left: 2%;
         border-radius: 10px;
     }

     .burger {
         display: block;
     }


 }