.best-projects {
  text-align: center;
}

.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
}

.carousel-item {
  min-width: 300px;
  margin: 0 15px;

  transition: transform 0.5s ease;
}

.card {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 400px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}


