.best-projects {
  padding: 50px 5%;
  text-align: start;
  margin: 0px 15%;
  background-color: rgba(82, 87, 87, 0);
}


.projects-container {
  overflow: hidden;
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 10px;
  justify-content: start;
}

.project-card {
  background: #fff;
  padding: 1rem;
  color: #000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 300px;
  flex: 1 0 
}
.best-projects .project-card:hover {
  transform: translateY(-10px);
}